

<div class="column minWidth maxWidth is-4 is-offset-4 box has-background-primary-light">
  {{!-- <div class="col-auto"> --}}
    <h3  class="is-size-1 has-text-centered bp-3">Add New Item</h3>
    <form class="box new-grocery-form has-background-primary-light">
      <div class="field">
        <label class="label">Item Name</label>
        <div class="control">
          <input class="input is-black" type="text" id="grocery-name"
            placeholder="Grocery name">
        </div>
      </div>
      <div class="select is-black">
        <select id="grocery-category"
          name="grocery-category">
          <option value="">Select a category</option>
          <option value="fruits">Fruits</option>
          <option value="vegetables">Vegetables</option>
          <option value="dairy">Dairy</option>
          <option value="meat">Meat</option>
          <option value="bread">Bread</option>
        </select>
      </div>
      <button type="submit" class="button is-black is-rounded">Create</button>
    </form>
    {{!-- </div> --}}
</div>
<div class="columns ">
  <div class="column is-6 ml-1 has-background-primary-light box  minWidth maxWidth pantry-list">
    <h3 class="is-size-1 has-text-centered bp-3">Pantry List</h3>
    <table class="table px-2 is-striped">
      <thead>
        <tr class="has-background-primary-light">
          <th>Name</th>
          <th>Category</th>
          <th>Qty-Min</th>
          <th>Qty-Avilabe</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        {{#if groceries.length}}
        {{#each groceries as |grocery|}}
        {{#if grocery.isPantryList}}
        <tr class="has-background-primary-light">
          <th><a href="/grocery/{{grocery.id}}">{{grocery.grocery_name}}</a></th>
          <td>{{grocery.category}}</td>
          <td><input type="number" id={{concat "minQuantity-" grocery.id}}
          style="max-width:40px"; value={{grocery.quantity_min}} /></td>
          <td> <input type="number" id={{concat "quantity-" grocery.id}}
              style="max-width:40px"; value={{grocery.quantity_avilable}} /></td>
          <td><button class="button is-small is-black is-rounded"
              data-idUpdate="{{grocery.id}}">Update</button></td>
          <td> <button class="button is-small is-black is-rounded" data-id="{{grocery.id}}">DELETE</button></td>
        </tr>
        {{/if}}
        {{/each}}
        {{/if}}
      </tbody>
    </table>
  </div>
  <div class="column minWidth maxWidth ml-1 is-6 has-background-primary-light box  shoping-list">
    <h3 class="is-size-1 has-text-centered bp-3">Shopping List </h3>
    <table class="table px-2 is-striped">
      <thead>
        <tr class="has-background-primary-light">
          <th>Name</th>
          <th>Category</th>
          <th>Qty-Min</th>
          <th>Qty-Avilabe</th>
          <th> </th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
    {{#if groceries.length }}
    {{#each groceries as |grocery|}}
    {{#if grocery.isShopingList}}
    
        <tr class="has-background-primary-light">
          <th><a href="/grocery/{{grocery.id}}">{{grocery.grocery_name}}</a></th>
          <td>{{grocery.category}}</td>
          <td><input type="number" id={{concat "minQuantity-" grocery.id}}
          style="max-width:40px"; value={{grocery.quantity_min}} /></td>
          <td> <input type="number" id={{concat "quantity-" grocery.id}}
              style="max-width:40px"; value={{grocery.quantity_avilable}} /></td>
          <td><button class="button is-small is-black is-rounded"
              data-idUpdate="{{grocery.id}}">Update</button></td>
          <td> <button class="button is-small is-black is-rounded" data-id="{{grocery.id}}">DELETE</button></td>
        </tr>
    {{/if}}
    {{/each}}
    {{/if}}
      </tbody>
    </table>
  </div>
</div>
<script src="/js/Grocery.js"></script>